@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	background-color: #4070f4;
}

.wrapper {
	position: fixed;
	bottom: 50px;
	right: -370px;
	max-width: 345px;
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	padding: 15px 25px 22px;
	transition: right 0.3s ease 0s;
}

.wrapper.show {
	right: 20px;
}

.wrapper header {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

header i {
	font-size: 32px;
	color: #4070f4;
}

header h2 {
	font-weight: 500;
	color: #4070f4;
}

.wrapper .data {
	margin-top: 15px;
}

.wrapper .data p {
	color: #333;
	font-size: 16px;
}

.data p a {
	position: relative;
	color: #4070f4;
	text-decoration: none;
}

.data p a:before{
	content: '';
	display: block;
	height: 1px;
	width: 0%;
	background-color: #4070f4;
	position: absolute;
	bottom: 1px;
	left: 0;
	transition: all 0.3s ease 0s;
}

.data p a:hover:before {
	width: 100%;
}

.wrapper .buttons {
	margin-top: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buttons button {
	width: calc(100%/2 - 10px);
	padding: 8px 0;
	background: #4070f4;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.buttons button:hover {
	background: #034bf1;
}